<div class="example-container">
  <mat-form-field>
    <input matInput #input  [(ngModel)]="user.name" placeholder="Name">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field hintLabel="Max 10 characters">
    <input matInput #input [(ngModel)]="user.username" maxlength="10" placeholder="Username">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field hintLabel="Max 50 characters">
    <input matInput #input  [(ngModel)]="user.email" maxlength="50" placeholder="Email">
  </mat-form-field>
  <br>
  <div class="example-button-row">
    <button (click)="saveUser()" mat-flat-button color="primary">Submit</button>
  </div>
</div>