/* Structure */
table {
  width: 100%;
}

.mat-table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.checkbox {
  margin-top: 25px;
}

.mat-input-container {
  min-height: 64px;
  padding: 8px 24px 0;
}

.create-container {
  display: flex;
  flex-direction: column;
}

.create-container > * {
  width: 100%;
}

.create-button-row button{
margin-right: 8px;
}

.bulk-delete{
  float: right;
}